<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pessoas</title>
</head>
<body>
    <h1>Pessoas cadastradas</h1>
    {% for pessoa in pessoas %}
    <ul>
        <li>{{ pessoa.nome }}</li>
        <li>{{ pessoa.idade }}</li>
        <li>{{ pessoa.email }}</li>
        <a href="{% url 'deletar_pessoa' pessoa.id %}">Deletar</a>
        <a href="{% url 'atualizar_pessoa' pessoa.id %}">Atualizar</a>
    </ul>
    {% endfor %}
    <a href="{% url 'criar_pessoa' %}">Criar pessoa</a>
</body>
</html>